<div class="d-flex justify-content-between mb-3">
  <b>Name</b>
</div>

<div class="d-flex justify-content-between mb-3">
  <b>Gender</b>
</div>

<div class="d-flex justify-content-between mb-3">
  <b>Age</b>
</div>

<div class="d-flex justify-content-between mb-3">
  <b>Location</b>
</div>

<div class="d-flex justify-content-between mb-3">
  <b>Joined</b>
  <%= @user.created_time_formatted %>
</div>
