<div class="ms-2 me-2 ps-3 pe-3">
  <% unless post.comments.count.zero? %>
    <hr class="border border-2 opacity-75">
    <p>Comments</p>
  <% end %>
  <% post.comments.ordered.each do |comment| %>
    <div class="mb-3 p-3 border rounded hover-shadow">
      <div class="d-flex align-items-center">
        <div>
          <%= image_tag comment.commenter.gravatar_url(default: :mm),
                      :class => "gravatar-comment me-1" %>
          <%= link_to "#{comment.commenter.username.capitalize}", user_path(comment.commenter),
            style: "text-decoration: none" %>
        </div>
          <p class="text-secondary m-0 ms-3">
            <%= comment.created_time_formatted %>
          </p>
      </div>
      <div class="ms-5" style="word-wrap: break-word">
        <%= comment.body %>
      </div>
    </div>
  <% end %>
</div>
