<h1>Odinbook Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to "#{user.username.capitalize}", user_path(user.id) %>
      <% if current_user.can_send_request_to?(user) %>
        <%= button_to "Add Friend", user_friend_requests_path(user.id),
              params: { friend_request: { sender_id: current_user.id,
                                          receiver_id: user.id
                                        }
                      }
        %>
      <% elsif current_user.sent_request_to?(user) %>
        <%= button_to "Cancel Friend Request",
                      user_friend_request_path(current_user.id, user.id),
                      method: :delete,
                      params: { friend_request: { sender_id: current_user.id,
                                                  receiver_id: user.id
                                                }
                              }
        %>
      <% end %>
    </li>
  <% end %>
</ul>
