<h2>User Info</h2>
<p><b>Username: </b><%= @user.username %>
<p><b>Posts created: </b><%= link_to "#{@user.posts.count}", user_posts_path(@user.id) %></p>
<p><b>Account Creation Date: </b><%= @user.created_time_formatted %></p>
<%= button_to "Add Friend", new_friendship_path %>
