<% current_user.received_friend_requests.each do |request| %>
  <li>
    <%= link_to "#{request.sender.username.capitalize}",
        user_path(request.sender.id), class: "dropdown-item text-primary" %>
  </li>
<% end %>

<% if current_user.received_friend_requests.count.zero? %>
  <li class="dropdown-item"><%= "None" %></li>
<% else %>
  <hr class="dropdown-divider">
  <%= link_to "View all", user_friend_requests_path(current_user),
      class: "dropdown-item" %>
<% end %>
