<h1>Friend Requests</h1>

<% @friend_requests.each do |request| %>
  <p>
    <b>From: </b>
    <%= link_to "#{request.sender.username}",
                   user_path(request.sender.id) %>

    <%= button_to "Accept",
        user_friendships_path(current_user.id),
        params: { friendship: { user_id: request.sender.id,
                                friend_id: current_user.id
                              }
                }
    %>

    <%= button_to "Decline",
        user_friend_request_path(current_user.id, request.sender.id),
        method: :delete,
        params: { friend_request: { sender_id: request.sender.id,
                                    receiver_id: current_user.id
                                  }
                }
    %>
  </p>
<% end %>
