<div class="bg-light" style="margin-top: -17px">
  <div class="container pt-5 pt-2">
    <h5 class="text-start text-secondary">Latest Posts</h5>
    <div class="row justify-content-between mt-2">
      <div class="col-8">
        <% @posts.each do |post| %>
          <div class="container mb-4 p-3 border shadow-sm rounded"
               style="background-color: #fff">
            <%= render "post", post: post %>
          </div>
        <% end %>
      </div>
      <div class="col-3 border rounded shadow-sm h-25" style="background-color: #fff">
          <h6 class="text-secondary m-3 mb-4">Suggested Users</h6>
          <%= render "shared/suggested_users", user: current_user %>
      </div>
    </div>
  </div>
</div>
