<div class="bg-light" style="margin-top: -17px">
  <div class="container pt-5 pt-2">
    <h5 class="text-start text-secondary">Latest Posts</h5>
    <div class="row justify-content-between mt-2">
      <div class="col-8">
        <% @posts.ordered.each do |post| %>
          <%= render "post", post: post %>
        <% end %>
      </div>
      <div class="col-3 h-25 mt-3 d-flex flex-column sticky-top affix" style="z-index: 100">
        <div class="border rounded shadow-sm hover-shadow bg-white">
          <h6 class="text-secondary m-3 mb-4">Suggested Users</h6>
          <%= render "shared/suggested_users", user: current_user %>
        </div>
        <div class="border rounded mt-4 mb-5 pb-3 shadow-sm hover-shadow bg-white">
          <h6 class="text-secondary m-3 mb-3">Newest User</h6>
          <div class="m-3 mb-0">
            <%= image_tag User.last.gravatar_url(default: :mm),
                          :class => "gravatar-comment me-1" %>
            <%= link_to User.last.username.titleize, user_path(User.last),
                        style: "text-decoration: none" %>
          </div>
        </div>
        <div class="mt-5">
          <a href="javascript:window.scrollTo(0,0);" class="text-decoration-none text-secondary">Go to top</a>
        </div>
      </div>
    </div>
  </div>
</div>
