  <div class="container mt-4">
  <h1 class="text-start">Posts</h1>
  <div class="row justify-content-start mt-4">
    <div class="col-10">
      <% @posts.each do |post| %>
        <%= render "post", post: post %>
        <hr>
      <% end %>
    </div>
  </div>
