<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-8">
        <div class="container mt-3 mb-4 p-3 border shadow-sm rounded"
              style="background-color: #fff">
          <%= render "post", post: @post %>
          <%= render "comments/comments", post: @post%>
        </div>
    </div>
  </div>
</div>
