<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-8">
      <%= link_to "Home", root_path, style: "text-decoration: none" %>
        <%= render "post", post: @post %>
      <%= link_to "< Back", :back, style: "text-decoration: none" %>
    </div>
  </div>
</div>
